<!DOCTYPE html>
<html ng-app="saltVirt">
	<head>
		<title>Salt-Virt</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
		<!--Local CSS File(s)-->
		<link href="css/screen.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../assets/js/html5shiv.js"></script>
		<![endif]-->

	</head>
	<body>
		<!-- Begin Error Message -->
		<div class="alert alert-error" id="access-error" style="display: none;">
			<button id="error-close" type="button" class="close">&times;</button>
			Insufficient access. Please check the user name.
		</div>
		<!-- End Error Message-->

<!-- Begin Login Form-->
		<form id="loginForm" ng-controller="LoginCtrl" ng-submit="login()">
			<div id="login" class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Login</h3>
				</div>
				<div class="modal-body form-horizontal">
					<div class="control-group">
						<label class="control-label" for="username">User Name</label>
						<div class="controls">
							<input name='username' ng-model="user.userName" type='text' placeholder="User Name" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input name='password' ng-model="user.password" type='password' placeholder="Password" />
							<input name='eauth' ng-model="user.eauth" type='hidden' value="pam" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</form>
		<!-- End Login Form-->

		<!-- Navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="./index.html">Salt-Virt</a>
					<div class="nav-collapse collapse">
						<p class="navbar-text pull-right">
							<input type="text" class="input-medium search-query" placeholder="Search..." ng-model="query" />
						</p>
						<ul class="nav" ng-controller='LoginCtrl'>
							<!-- Operations Dropdown -->
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									Operations <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Create VM</a></li>
									<li><a href="" ng-click="logout()" class="navbar-link">Logout</a></li>
								</ul>
							</li>
							<!-- End Operations Dropdown -->
							<li><a href="https://github.com/kaptk2/salt-virt">About</a></li>
							<li><a href="https://github.com/kaptk2/salt-virt/wiki">Help</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- End Navbar -->

		<div id='content' class="container"><!-- Main Content -->
			<div class="well">
				<!-- Message Center -->
				<textarea ngModel="messages" rows="1" style="width: 100%;" placeholder="Messages: TODO"></textarea>
				<!-- End Message Center -->
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#vms" data-toggle="tab">Virtual Machines</a>
						</li>
						<li>
							<a href="#hosts" data-toggle="tab">Hosts</a>
						</li>
					</ul>
					<div class="tab-content" ng-controller="VmListCtrl">
						<div class="tab-pane active" id="vms">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Status</th>
										<th>VM Name</th>
										<th>Host</th>
										<th>Memory</th>
										<th>Max Memory</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="vm in vms | filter:query">
										<td ng-switch on="vm.vm_info.state" style="text-align: center;">
											<i class="icon-play" ng-switch-when="running"></i>
											<i class="icon-stop" ng-switch-when="shutdown"></i>
											<i class="icon-pause" ng-switch-when="paused"></i>
										</td>
										<td>{{vm.vm_name}}</td>
										<td>{{vm.vm_host}}</td>
										<td>{{vm.vm_info.mem / 1024}} MB</td>
										<td>{{vm.vm_info.maxMem / 1024}} MB</td>
										<td>
											<div class="btn-group">
												<button class="btn btn-info">Open Machine</button>
												<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
												<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li ng-switch on="vm.vm_info.state">
														<a ng-switch-when="running" ng-click="confirm(vm.vm_host, vm.vm_name, 'virt.shutdown')">
															Power Off
														</a>
														<a ng-switch-when="shutdown" ng-click="virtCall(vm.vm_host, vm.vm_name, 'virt.start')">Power On</a>
														<a ng-switch-when="paused" ng-click="virtCall(vm.vm_host, vm.vm_name, 'virt.resume')">Resume</a>
													</li>
													<li ng-show="vm.vm_info.state == 'running'">
														<a ng-click="confirm(vm.vm_host, vm.vm_name, 'virt.reboot')">
															Reboot
														</a>
													</li>
													<li ng-show="vm.vm_info.state == 'running'">
														<a ng-click="confirm(vm.vm_host, vm.vm_name, 'virt.reset')">
															Power Cycle
														</a>
													</li>
													<li ng-show="vm.vm_info.state == 'running'">
														<a ng-click="confirm(vm.vm_host, vm.vm_name, 'virt.destroy')">
															Force Off
														</a>
													</li>
													<li class="divider">
													<li><a href="#">Edit Machine</a></li>
													<li><a href="#">Migrate Machine</a></li>
													<li class="divider"></li>
													<li>
														<a ng-click="confirm(vm.vm_host, vm.vm_name, 'virt.purge')">
															Remove Machine
														</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="hosts">
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>Host Name</th>
										<th>#VMs</th>
										<th>Memory Total</th>
										<th>CPUs</th>
										<th>CPU MHz</th>
										<th>Free CPUs</th>
										<th>Memory Usage</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="hosts in hosts_vms.minions | filter:query">
										<td>{{hosts.minion}}</td>
										<td>{{_.keys(hosts.vm_info).length}}</td>
										<td>{{hosts.node_info.phymemory}} MB</td>
										<td>{{hosts.node_info.cpus}}</td>
										<td>{{hosts.node_info.cpumhz}}</td>
										<td>{{hosts.freecpu}}</td>
										<td>{{hosts.freemem}}</td>
										<td>
											<div class="btn-group">
												<button class="btn btn-info">View Details</button>
												<button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
												<span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="" ng-click="request(hosts.minion, 'evacuate')">Evacuate</a></li>
													<li class="divider">
													<li><a href="" ng-click="request(hosts.minion, 'hostReboot')">Reboot</a></li>
													<li><a href="" ng-click="request(hosts.minion, 'hostOff')">Power Off</a></li>
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- JavaScript Libraries -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js"></script>
		<!-- TODO make this to the minified version when it is fixed -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular-cookies.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

		<!-- Application Scripts -->
		<script src="js/util.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
	</body>
</html>
